.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
  width: 200px;
  margin-top: 10px;
  background-color: bisque;
}

.input-field:focus {
  border-color: #eae619;
  outline: none;
}

.input-error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}
