/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    background-color: #11999E;
    border: 5px solid black;
    border-radius: 25px;
    padding:30px;
    margin-top: 50px;
}

.reglog{
  margin-top: 20px;
  margin-left: 10px;
  
}

